In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df=pd.read_csv('Cleaned_data.csv')

In [4]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,2,0,1,0
1,sx4,2013,4.75,9.54,43000,1,0,1,0
2,ciaz,2017,7.25,9.85,6900,2,0,1,0
3,wagon r,2011,2.85,4.15,5200,2,0,1,0
4,swift,2014,4.60,6.87,42450,1,0,1,0

In [5]:
X = df.drop(['Car_Name','Selling_Price'],axis=1)
y = df['Selling_Price']

## Train test split

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=42)

# modelling

In [13]:
from sklearn.preprocessing import PolynomialFeatures

polynomial_converter=PolynomialFeatures(degree=2,include_bias=False)

X_train_poly=pd.DataFrame(polynomial_converter.fit_transform(X_train))
X_test_poly=pd.DataFrame(polynomial_converter.fit_transform(X_test))

In [17]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train_poly,y_train)

print("Coeffiecient : ",model.coef_)

print("Intercept : ",model.intercept_ )

Coeffiecient :  [-9.71192559e+01 -1.33207071e+02 -6.47528852e-04  9.42322375e+00
 -8.52273144e+01  5.06400246e+01 -9.61903397e-01  2.41105393e-02
  6.65163869e-02  3.26707547e-07 -2.94393027e-03  8.05760800e-02
 -5.14691161e-02  1.15297601e-02 -6.50477006e-06 -1.22603696e-06
 -1.44280965e-01  2.43889396e-01  1.15505386e-01 -2.61472751e+00
  7.01163560e-11 -1.20292525e-05 -3.59503766e-06  3.72357479e-06
 -2.45290517e-06 -9.03010025e-01  2.59832337e+00  1.96142643e-01
 -2.49163266e+00 -8.52273140e+01  2.10264881e+00 -1.35575944e+01
  5.06400246e+01 -9.61902272e-01 -9.61902272e-01]
Intercept :  97800.4976331123

# evaluation

In [18]:
#Prediction on train data
ypred_train=model.predict(X_train_poly)

#Evaluation on train data
from sklearn.metrics import r2_score, mean_squared_error
print('Train r2 :', r2_score(y_train,ypred_train))

print("Train RMSE :", np.sqrt(mean_squared_error(y_train,ypred_train)))

from sklearn.model_selection import cross_val_score
print("CV Score : ", cross_val_score(model,X_train_poly,y_train, cv=5, scoring='r2').mean())

Train r2 : 0.9819544534687428
Train RMSE : 0.6649844038080355
CV Score :  -3.8111361521950697

In [19]:
#Prediction on test data
ypred_test=model.predict(X_test_poly)

from sklearn.metrics import r2_score
print('Test r2 :', r2_score(y_test,ypred_test))

print("Test RMSE :", np.sqrt(mean_squared_error(y_test,ypred_test)))

Test r2 : -21.954597125277388
Test RMSE : 24.323134068520908